@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Oswald&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carlito:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  background-image: url("../public/images/Backzstars.gif");
  background-repeat:round;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  position: center;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(241, 241, 10)
}

p {
  font-family: "Carlito", sans-serif;
  font-size: 21px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 5%
 
}

h2 {
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  color: rgb(0, 153, 255);
  text-align: center;
}

.text-center {
  display: grid;
  place-items: center;
}

.grid-container {
  background-color: rgba(9, 156, 241, 0.765);
  border-radius: 50px;
  padding: 30px;
}

.grid-con {
  background-color: rgba(128, 128, 128, 0.432);
  padding: 50px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* .rounded-circle {
  max-width: 200px;
  height: auto;
} */
